@charset "utf-8";

/* ****************** 레이아웃 구성 시작 ******************* */
#header,
#intro,
#contents {
	width: 960px;
	margin: 0 auto;
}
#contents {
	height: auto;
    padding-left: 160px;
    position: relative;
}

#header {
	height: 105px;
}
#intro {
	height: 378px;
	margin-bottom: 63px;
}
aside {
	position: absolute;
	top: 0;
	left: 0;
}
#section1 {
	width: 690px;
	margin-bottom: 84px;
}
#section2 {
	width: 690px;
}
footer {
	height: 105px;
}



/* ********************** 개별영역 구성 시작 ************************* */
/* ********* header Area Start ********** */
/* site logo */
#header h1 {
	width: 36px;
	height: 36px;
	float: left;
	margin: 33px 39px 0 0;
}
#header h1 a {
	background: url(../images/logo.png) no-repeat 0 0;
}

/* gnb */
#header nav {
	float: left;
	margin-top: 42px;
}
#header nav ul li {
	float: left;
	font: 400 14px/21px 'Nanum Gothic', sans-serif;
	margin-right: 33px;
}

/* login / bag */
#header .login_bag {
	float: right;
	font: 400 14px/21px 'Nanum Gothic', sans-serif;
	margin-top: 42px;
}
#header .login_bag .login_box {
	float: left;
	margin-right: 56px;
}
#header .login_bag .bag_box {
	float: right;
}


/* ********* intro Area Start ********** */
#intro img {
	width: 100%;
}


/* ********* aside Area Start ********** */
aside .aside_box {
	position: relative;
}
aside .user_name {
	font: 400 14px 'Nanum Gothic', sans-serif;
	width: 97px;
	height: 35px;
	position: absolute;
	top: 80px;
	left: -15px;

	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}


/* ********* section1 Area Start ********** */
#section1 .preface {
	margin-bottom: 63px;
}
#section1 .preface .date {
	float: left;
	font: 700 14px/21px 'Nanum Gothic', sans-serif;
}
#section1 .preface .craft {
	float: right;
	font: 700 14px/21px 'Nanum Gothic', sans-serif;
	color: #FE7303;
}
#section1 article h2 {
	width: 650px;
	height: 42px;
	font: 400 47px 'Nanum Gothic', sans-serif;
	margin-bottom: 63px;
}
#section1 article p {
	font: 400 14px/21px 'Nanum Gothic', sans-serif;	
}
#section1 article p span {
	width: 40px;
	height: 40px;
	float: left;
	font: 400 48px/21px 'Nanum Gothic', sans-serif;	
	color: #fbac6a;
	padding-right: 10px;
	position: relative;
	top: 10px;
	left: 0;
}


/* ********* section2 Area Start ********** */
#section2 .section2_box1 img {
	float: left;
}
#section2 .section2_box1 p {
	width: 240px;
	height: 42px;
	float: right;
	font: 700 14px/21px 'Nanum Gothic', sans-serif;
	margin: 105px 30px 0 0;
}
#section2 .section2_box2 p {
	width: 240px;
	height: 42px;
	float: left;
	font: 700 14px/21px 'Nanum Gothic', sans-serif;
	margin-top: 105px;
}
#section2 .section2_box2 img {
	float: right;
	position: relative;
	top: -84px;
	right: 0;
}
#section2 .thanks {
	font: 700 14px/21px 'Nanum Gothic', sans-serif;
	margin: 21px 0 84px 0;
}


/* ********* footer Area Start ********** */
footer>div {
	font: 700 14px/21px 'Nanum Gothic', sans-serif;
	margin-bottom: 21px;
}
footer .sns_group {
	margin-bottom: 105px;
}
footer .sns_group li {
	display: inline-block;
	width: 63px;
	height: 63px;
	border: 2px solid #ccc;
	border-radius: 50%;
	margin-right: 30px;
	text-align: center;
}
footer .sns_group li a {
	font: 700 14px/63px 'Nanum Gothic', sans-serif;
}





